version: "3.9"

services:
  #MongoDB services
  mongo_db:
    container_name: db_container
    image: mongo
    restart: always
    ports:
      - 2717:27017
#     volumes:
#       - mongo_db:/data/db

  #nodejs API Services
  api:
    build: .
    ports:
      - 4000:3000
    volumes:
      - .:/usr/src/app
    environment:
      PORT: 3000
      MONGODB_URI: mongodb://mongo_db:27017
      DB_NAME: admin
      NAME: AdityaTawade
    depends_on:
      - mongo_db

volumes:
  mongo_db: {}
